aiohttp==3.8.4
aiosignal==1.2.0
APScheduler==3.10.1
async-timeout==4.0.2
attrs==22.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.2
certifi==2022.12.7
charset-normalizer==3.0.1
frozenlist==1.2.0
idna==3.4
multidict==5.2.0
python-dotenv==0.20.0
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
requests==2.27.1
six==1.16.0
soupsieve==2.3.2
tzdata==2023.3
tzlocal==4.2
urllib3==1.26.15
yarl==1.7.2
